[submodule "inventory"]
	path = inventory
	url = git@gitlab.ncs.mcgill.ca:ansible/foreman_ansible_inventory.git
[submodule "roles/rh-subscription-manager"]
	path = roles/rh-subscription-manager
	url = git@gitlab.ncs.mcgill.ca:ansible/role-rh-subscription-manager.git
