[submodule "inventory"]
	path = inventory
        url = https://github.com/theforeman/foreman_ansible_inventory.git
[submodule "roles/rh-subscription-manager"]
	path = roles/rh-subscription-manager
        url = https://github.com/chrispoupart/ansible-role-subscription-manager.git
